<div class="card  mb-4">
    <div class="card-header">
        Analysis
    </div>
    <div class="card-body">
        <div class='row'>
            <div class='col-6 col-md-3'>
                <h6 class="font-italic font-weight-bold">Tokens <span class="badge badge-primary font-weight-normal"
                        id="token-count"></span></h6>
            </div>
            <div class='col-6 col-md-3'>
                <h6 class="font-italic font-weight-bold">Used ranges <span
                        class="badge badge-primary font-weight-normal" id="used-numbers-count"></span></h6>
            </div>
            <div class='col-6 col-md-3'>
                <h6 class="font-italic font-weight-bold">Unused ranges <span
                        class="badge badge-primary font-weight-normal" id="unused-numbers-count"></span></h6>
            </div>
            <div class='col-6 col-md-3'>
                <h6 class="font-italic font-weight-bold">Telegram users <span
                        class="badge badge-primary font-weight-normal" id="telegram-users-count"></span></h6>

            </div>
        </div>
    </div>
</div>